header {
  text-align: center;
}

img {
  width: 350px;
  display: block;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-around;
}

h3,
p {
  text-align: center;
}

button {
  display: block;
  margin: auto;
}
